html, body, canvas {
        width: 100%;
        height: 100%;
}


body {
        background-color: #ffffff;
        margin: 0;
        overflow: auto;
        font-family: arial;
}


/*div#tabs {
    min-width: 735px;
}

div#tabs-1 {
    min-width: 0px;
}*/

#blocker {

        position: fixed;
        width: auto;
        left: 28px;
        right: 28px;
        top: 69px;
        bottom: 0%;
        height: auto;

        background-color: rgba(0,0,0,0.5);
        font-size: 0.8em;

}

#instructions {
        
        width: 96.1%;
        height: 100%;

        display: -webkit-box;
        display: -moz-box;
        display: box;

        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;

        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;

        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;

        color: #ffffff;
        text-align: center;

        cursor: pointer;
}

#instructions {

        width: 100%;
        height: 100%;

        display: -webkit-box;
        display: -moz-box;
        display: box;

        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;

        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;

        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;

        color: #ffffff;
        text-align: center;

        cursor: pointer;
}

#footPanel {
    position: fixed;  
    font: serif;
    border-style: none;
    border-color: black;
    text-wrap: lowercase;
    bottom:0%;
    width:auto;
    left: 28px;
    right: 28px;
    height: 12vh;
    min-height: 70px;
}


#infoblock {
    position: fixed;  
    font: serif;
    color: white;
    border-style: none;
    border-color: black;
    text-wrap: lowercase;
    padding : 5px;
    background-color: gray;
    opacity:0.9;
    filter:alpha(opacity=90); /* For IE8 and earlier */ 
    bottom:0%;
    width:auto;
    left: 28px;
    right: 28px;
    height:12vh;
    min-height: 70px;
    overflow: auto;

    font-family: Verdana,Arial,sans-serif;
    font-size: 0.6em;
}


#textmode{
    top:-30px;
    float:left;
    background-color: yellow;
    position: relative;
    font: serif;
    color: black;
    border-style: none;
    border-color: black;
    margin: 0px;
    width:auto;
    height:15px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.7em;
}

#staticblock {
    position: absolute;  
    font: serif;
    color: white;
    border-style: none;
    border-color: black;
    padding : 10px;
    bottom:0;
    width:94.7%;
    height:1em;
}

a.genome-link:visited {
    color: white;
}
a.genome-link{
    color: white;
}


#newtable table {
  width: 100%;
  border: 1px solid #000;
}


#newtable th,#newtable td {
  width: 25%;
  text-align: left; 
  vertical-align: top; 
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
  caption-side: bottom;
}

#newtable caption {
  padding: 0.3em;
}

.fb-share-button span,
.fb-share-button iframe {
    width: 120px! important;
    height: 25px! important;
}

#tabs .ui-tabs-panel {
    height: auto;
    overflow: auto;
}

#tabs-0 #left {
    float: left;
    width: 50%;
    position: relative;
}

#tabs-0 #right {
    float: right;
    width: 48%;
    position: relative;
}

a.external-link {
    background-image: url('../image/download.svg');
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 13px;
}


a.explainable {
    background-image: url('../image/system_question_alt_02.png');
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 13px;
}

.messi-box {
    width: auto;
}

div#detection-sign {
    float: left;
    left: 5px;
/*    display: none;*/
/*    top: 45%;*/
    width: 42px;
    height: 42px;
    position: fixed;
}

div#detection-sign img#exclamation-sign {
    width: 42px;
    height: 42px;
}

div#keys {
    float: left;
    left: 10px;
    width: 35px;
    height: 35px;
    position: fixed;
}

.keys_images {
    width: 37px;
    height: 37px;
}

div#keys img#thermometer {
    margin-left:10%;
    width: 28px;
    height: 78px;
}

img#plain_cube {
    width: 50px;
    height: 50px;
}

div#img_text_container {
    text-align: center; 
    line-height: 60px;
    width: 50px;
    height: 60px;
    background-size: 100%;
    background-image: url('../image/plain_cube_v2.2.png');
    background-repeat: no-repeat;
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.7em;
}

#table_cube tr td, #table_linear tr td,  #table_cube tr th{
  text-align: left; 
  vertical-align: top; 
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
  caption-side: bottom;
}

/*select#moveCameraChoice , input#incoords {
    border: 1px solid gray;
}*/
.guide {
    text-decoration: underline;
    text-align: center;
}
.odd {
    color: #fff;
    background: #666;
}
.even {
    color: #666;
}
.hot {
    border: 1px solid #f00;
}

div#distancePoints {
    float: right;
    right: 20px;
    width: 35px;
    height: 35px;
    position: fixed;
}

#first-point-distance, #second-point-distance {
    width: 35px;
    height: 35px;
}


img.gallery-image {
    max-height: 400px;
    max-width: 100%;
    border: solid;

}

.bx-wrapper img {
    margin: 0 auto;
}